@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;





.underline-slide {
    position: relative;
    display: inline-block;
  }
  
  .underline-slide::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    background-color: red;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
  }
  
  .underline-slide:hover::after {
    transform: scaleX(1);
  }

  @keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  
  .animate-zoom {
    animation: zoomIn 3s ease-in-out forwards;
  }
  


  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    display: flex;
    width: calc(200%); /* Ensures smooth looping by making space for duplicated content */
    animation: scroll 15s linear infinite;
  }
  